<div class="row widget-row">
    <div class="col-md-3">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Office equipment and supplies</h4>
            <div class="widget-thumb-wrap">
                <img src="../images/office-supplies.png" style="width:50px;" />
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="7,644">0</span>
                </div>
            </div>
            <div class="col-md-12 goToButton">
                <a href=""> Go to </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Technical agricultural equipment and their supplies</h4>
            <div class="widget-thumb-wrap">
                <img src="../images/agricultural-equipment.jpg" style="width:50px;" />
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="1,293">0</span>
                </div>
            </div>
            <div class="col-md-12 goToButton">
                <a href=""> Go to </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Maintenance of generator and lightning systems</h4>
            <div class="widget-thumb-wrap">
                <img src="../images/generator.jpg" style="width:50px;" />
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="815">0</span>
                </div>
            </div>
            <div class="col-md-12 goToButton">
                <a href=""> Go to </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Air conditioning, heating supplies and maintenance of respective supplies and installations</h4>
            <div class="widget-thumb-wrap">
                <img src="../images/heating.png" style="width:50px;" />
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="5,071">0</span>
                </div>
            </div>
            <div class="col-md-12 goToButton">
                <a href=""> Go to </a>
            </div>
        </div>
    </div>
</div>
<div class="row widget-row">
    <div class="col-md-3">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Student health care</h4>
            <div class="widget-thumb-wrap">
                <img src="../images/health.jpg" style="width:50px;" />
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="7,644">0</span>
                </div>
            </div>
            <div class="col-md-12 goToButton">
                <a href=""> Go to </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Teaching material and tools</h4>
            <div class="widget-thumb-wrap">
                <img src="../images/teaching-material.png" style="width:50px;" />
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="1,293">0</span>
                </div>
            </div>
            <div class="col-md-12 goToButton">
                <a href=""> Go to </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Laboratory tools and materials</h4>
            <div class="widget-thumb-wrap">
                <img src="../images/laboratory-tools.png" style="width:50px;" />
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="815">0</span>
                </div>
            </div>
            <div class="col-md-12 goToButton">
                <a href=""> Go to </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Furniture</h4>
            <div class="widget-thumb-wrap">
                <img src="../images/furniture.jpg" style="width:50px;" />
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="5,071">0</span>
                </div>
            </div>
            <div class="col-md-12 goToButton">
                <a href=""> Go to </a>
            </div>
        </div>
    </div>
</div>
<div class="row widget-row">
    <div class="col-md-3">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Library books and materials</h4>
            <div class="widget-thumb-wrap">
                <img src="../images/books.jpg" style="width:50px;" />
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="7,644">0</span>
                </div>
            </div>
            <div class="col-md-12 goToButton">
                <a href=""> Go to </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="widget-thumb widget-bg-color-white text-uppercase margin-bottom-20 bordered">
            <h4 class="widget-thumb-heading">Miscellaneous expenses (other non-stated items)</h4>
            <div class="widget-thumb-wrap">
                <img src="../images/miscellanious.png" style="width:50px;" />
                <div class="widget-thumb-body">
                    <span class="widget-thumb-body-stat" data-counter="counterup" data-value="1,293">0</span>
                </div>
            </div>
            <div class="col-md-12 goToButton">
                <a href=""> Go to </a>
            </div>
        </div>
    </div>
</div>
