
    <select id="schools" style="width:100%;">
        <option value="s1">Fanar | فنار</option>
        <option value="s2">Abdeh | عبدي</option>
        <option value="s3">Batroun | بترون</option>
        <option value="s4">Baakleen | بعقلين</option>
        <option value="s5">Nassriet Rizik | نصريت رزق</option>
        <option value="s6">Nabatieh | نبطية</option>
        <option value="s7">Khiam | خيام</option>
    </select>

<script type="text/javascript">

    $(document).ready(function () {
        var cookieVal = $.cookie("schoolDB");
        console.log('cookieVal = ' + cookieVal);
        $('#schools').select2();
        $('#schools').val(cookieVal).trigger('change');
    });

    $(document).on('change', '#schools', function () {
        
        var cookieVal = $.cookie("schoolDB");

        var schoolDB = $(this).val();
        console.log('change schoolDB = ' + schoolDB);

        if (schoolDB != null) {
            $.cookie('schoolDB', schoolDB, { path: '/' });
        }

        if (schoolDB != cookieVal && schoolDB != null && cookieVal != null) {
            location.reload();
        }
    });

</script>