@{
    ViewBag.Title = "About";
}


<div class="modal fade" id="assignItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Assign item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="assignItem" style="color:red;">Assigning Router</h4>
                <hr />
                <div class="form-group">
                    <div class="input-icon">
                        <i class="fa fa-tasks font-green" aria-hidden="true"></i>
                        <input id="assignQuantity" type="number" class="form-control" placeholder="Quantity">
                    </div>
                </div>
                <div class="form-group">
                    <label>Status</label>
                    <select id="assignStatus" class="form-control">
                        <option value="1">In Stock</option>
                        <option value="2">Out of Stock</option>
                        <option value="3">Out of Service</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea id="assignDescription" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="assignItem" type="button" class="btn btn-primary">Assign</button>
            </div>
        </div>
    </div>
</div>


<div class="page-content-wrapper">
    <div class="page-content">
        <div class="theme-panel hidden-xs hidden-sm">
            <div class="toggler"> </div>
            <div class="toggler-close"> </div>
            <div class="theme-options">
                <div class="theme-option theme-colors clearfix">
                    <span> THEME COLOR </span>
                    <ul>
                        <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default"> </li>
                        <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="Dark Blue"> </li>
                        <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue"> </li>
                        <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey"> </li>
                        <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light"> </li>
                        <li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="Light 2"> </li>
                    </ul>
                </div>
            </div>
        </div>
        <h1 class="page-title"> Items </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Items</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span>OFFICE EQUIPMENT AND SUPPLIES</span>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title categoriesFilterContainer" style="cursor:pointer;">
                        <div class="caption font-dark">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <span class="caption-subject bold uppercase">
                                Filter by Category
                            </span>
                        </div>
                    </div>
                    <div class="portlet-body" style="display:none;">
                        @Html.Partial("_Categories")
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            @{ Html.RenderAction("ItemsPartialDefault", "Home"); }
        </div>

    </div>
</div>


<script type="text/javascript">

    var selectedItems = [];
    
    $(document).ready(function () {
        transactionsActive();
        $('#assignActionContainer').show();
    });

    $(document).on('click', '#assignActionSelector', function () {
        console.log('open box');
        selectedItems = [];

        $('#itemsTable tbody label input:checked').each(function () {
            var item = {
                Name: $(this).attr('data-Name'),
                AvailabilityStatusID: $(this).attr('data-AvailabilityStatusID'),
                ExpiryDate: $(this).attr('data-ExpiryDate'),
                LocationInStock: $(this).attr('data-LocationInStock'),
                ReceivedOn: $(this).attr('data-ReceivedOn'),
                Description: $(this).attr('data-Description')
            };

            selectedItems.push(item);
        });

        if (selectedItems.length > 1) {
            $('#assignQuantity').val('1');
            $('#assignQuantity').prop('disabled', true);
        } else
        {
            $('#assignQuantity').val('');
            $('#assignQuantity').prop('disabled', false);
        }

        //console.log(selectedItems);
    });

    $(document).on('click', '#assignItem', function () {
        console.log('assign item');
        selectedItems = JSON.stringify(selectedItems);
        console.log(selectedItems);

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: "@Url.Action("AssignItems","Home")?quantity=" + $('#assignQuantity').val() + '&AvailabilityStatusID=' + $('#assignStatus').val(),
            data: selectedItems,
            success: function (response) {
                alert(response);
            }
        });

    });

</script>