@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Reset password confirmation";
}


<div class="logo">
    <a href="index.html">
        <img src="../assets/pages/img/logo.png" style="height: 17px; width:0px;" alt="" />
    </a>
</div>
<div class="content">
    <h5 class="form-group" style="color:white;">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </h5>
</div>

<div class="copyright hide"> 2014 © Metronic. Admin Dashboard Template. </div>


@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>*@
