
@{
    ViewBag.Title = "EditSection";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="theme-panel hidden-xs hidden-sm">
            <div class="toggler"> </div>
            <div class="toggler-close"> </div>
            <div class="theme-options">
                <div class="theme-option theme-colors clearfix">
                    <span> THEME COLOR </span>
                    <ul>
                        <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default"> </li>
                        <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="Dark Blue"> </li>
                        <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue"> </li>
                        <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey"> </li>
                        <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light"> </li>
                        <li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="Light 2"> </li>
                    </ul>
                </div>
            </div>
        </div>
        <h1 class="page-title"> Items </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Items</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span> EDIT ITEMS IN STOCK </span>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title categoriesFilterContainer" style="cursor:pointer;">
                        <div class="caption font-dark">
                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                            <span class="caption-subject bold uppercase">
                                Filter by Category
                            </span>
                        </div>
                    </div>
                    <div class="portlet-body" style="display:none;">
                        @Html.Partial("_Categories")
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            @{ Html.RenderAction("ItemsPartialDefault", "Home"); }
        </div>

    </div>
</div>
