@using Inventory.DataObjects.DTO
@using Inventory.DataObjects.EDM

@model Inventory.DataObjects.EDM.Item

@{
    ViewBag.Title = "EditSection";
    List<CategoryDTO> categoriesList = ViewBag.CategoriesList as List<CategoryDTO>;
    List<Supplier> suppliersList = ViewBag.SuppliersList as List<Supplier>;
    List<AvailabilityStatu> availabilityStatusList = ViewBag.AvailabilityStatusList as List<AvailabilityStatu>;
    List<ItemStatu> itemStatusList = ViewBag.ItemStatusList as List<ItemStatu>;
    List<Unit> unitList = ViewBag.UnitList as List<Unit>;
}


<div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 id="assignItem" style="color:red;">Editing Router</h4>
                <hr />
                <div class="form-group">
                    <label>Name</label>
                    <div class="input-icon">
                        <i class="fa fa-tasks font-green" aria-hidden="true"></i>
                        <input id="editName" type="number" class="form-control" placeholder="Name" name="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    @Html.DropDownListFor(m => m.CategoryID, new SelectList(categoriesList, "Id", "Name"), new { @name = "CategoryID", @id = "categoryID", @style = "width:100%;" })
                </div>
                <div class="form-group">
                    <label>Location in Stock</label>
                    <div class="input-icon">
                        <input id="locationInStock" type="text" class="form-control" placeholder="Location In Stock" name="LocationInStock">
                    </div>
                </div>
                <div class="form-group">
                    <label>Unit</label>
                    <div class="input-icon">
                        @Html.DropDownListFor(m => m.UnitID, new SelectList(unitList, "Id", "Name"), new { @name = "UnitID", @id = "unitID", @style = "width:100%;" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Amount</label>
                    <div class="input-icon">
                        @Html.EditorFor(model => model.UnitAmount, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div id="quantityContainer" style="display:none;" class="form-group">
                    <label>How many?</label>
                    <div class="input-icon">
                        <input class="form-control text-box single-line valid" data-val="true" data-val-number="The field Quantity must be a number." data-val-required="Quantity is required." id="Quantity" name="Quantity" type="text" value="" aria-invalid="false">
                    </div>
                </div>
                <div class="form-group">
                    <label>Expiry Date</label>
                    <div class="input-icon">
                        <input id="expiryDate" name="ExpiryDate" style="width:100%!important;" class="form-control form-control-inline input-medium date-picker" size="16" type="text" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label>Supplier</label>
                    <div class="input-icon">
                        @Html.DropDownListFor(m => m.SupplierID, new SelectList(suppliersList, "Id", "Supplier1"), new { @name = "SupplierID", @id = "supplierID", @style = "width:100%;" })
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <div class="input-icon">
                        <textarea id="assignDescription" class="form-control" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="assignItem" type="button" class="btn btn-primary">Assign</button>
            </div>
        </div>
    </div>
</div>



<div class="page-content-wrapper">
    <div class="page-content">
        <div class="theme-panel hidden-xs hidden-sm">
            <div class="toggler"> </div>
            <div class="toggler-close"> </div>
            <div class="theme-options">
                <div class="theme-option theme-colors clearfix">
                    <span> THEME COLOR </span>
                    <ul>
                        <li class="color-default current tooltips" data-style="default" data-container="body" data-original-title="Default"> </li>
                        <li class="color-darkblue tooltips" data-style="darkblue" data-container="body" data-original-title="Dark Blue"> </li>
                        <li class="color-blue tooltips" data-style="blue" data-container="body" data-original-title="Blue"> </li>
                        <li class="color-grey tooltips" data-style="grey" data-container="body" data-original-title="Grey"> </li>
                        <li class="color-light tooltips" data-style="light" data-container="body" data-original-title="Light"> </li>
                        <li class="color-light2 tooltips" data-style="light2" data-container="body" data-html="true" data-original-title="Light 2"> </li>
                    </ul>
                </div>
            </div>
        </div>
        <h1 class="page-title"> Items </h1>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html">Items</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span> EDIT ITEMS IN STOCK </span>
                </li>
            </ul>
        </div>

        @{ Html.RenderAction("CategoriesPartial", "Home"); }
        
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#editActionContainer').show();
        
        $('#itemsInCategory').select2({
            placeholder: "Select Item"
        });
        $('#availabilityStatus').select2();
        $('#itemStatusID').select2();
        $('#supplierID').select2();
        $('#unitID').select2();
        $('#categoryID').select2();

        $('#unitID').change(function () {

            var unitValue = $(this).val();
            if (unitValue != 1) {
                $('#quantityContainer').show();
            } else {
                $('#quantityContainer').hide();
            }

        });

    });

</script>